/crawlers/fotomen/out/*
/crawlers/i50mm/out/*
/crawlers/leica/out/*
/crawlers/national_geography/out/*
/crawlers/photoworld/out/*
/crawlers/skypixel/out/*
/crawlers/sogou/out/*
/crawlers/tuchong/out/*
/crawlers/wechat_crawler/output/*
/crawlers/welens/out/*

*.log


/word2vec/data/articles/*


*.out
*.out.utf8
*.vector
*.npy
*.model
word2vec/api/update_db.py

*/__pycache__/
*.xml
*.iml
